{% extends 'base.html' %}
{% load static from staticfiles %}
{% block extCss %}
    <link rel="stylesheet" href="{% static '/home/css/home.css' %}">
{% endblock %}

{% block content %}
<div id="home">
    {#    头部轮播#}
    <section class="swiper-container" id="topSwiper">
        <div class="swiper-wrapper">
            {% for topWheel in topWheels %}
                <div class="swiper-slide">
                    <img src="{{ topWheel.img }}">
                </div>
            {% endfor %}
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </section>
    {#   顶部菜单#}
    <section class="topMenu">
        <nav>
            <ul>
                {% for topmenu in topmenus %}
                    <li>
                        <a href="#">
                            <img src="{{ topmenu.img }}"/>
                            <span>{{ topmenu.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <menu class="swiper-container swiperMenu" id="swiperMenu">
            <ul class="swiper-wrapper">
                {% for item in mustbuyList %}
                    <li class="swiper-slide">
                        <a><img src="{{ item.img }}"></a>
                    </li>
                {% endfor %}
            </ul>
        </menu>
    </section>


    <section class="CVS">
        <h2>
            <img src="{{ shop1.img }}" alt="{{ shop1.name }}"/>
        </h2>
        <fieldset>
            {% for x in shop2 %}
                <a href="#">
                    <img src="{{ x.img }}" alt="{{ x.name }}"/>
                </a>
            {% endfor %}
        </fieldset>
        <ul>
            {% for x in shop3 %}
                <li>
                    <a href="#">
                        <img src="{{ x.img }}"/>
                        <span>{{ x.name }}</span>
                    </a>
                </li>
            {% endfor %}

        </ul>
        <ol>
            {% for x in shop4 %}
                <li>
                    <a>
                        <img src="{{ x.img }}" alt="{{ x.name }}"/>
                    </a>
                </li>
            {% endfor %}
        </ol>
    </section>

    <section class="mainInfo">
        {% for item in mainList %}
            <section>
                <h3 >
                   {{ item.name }}
                    <a ui-sref="#">更多></a>
                    <span></span>
                </h3>
                <div>
                    <a href="#"><img src="{{ item.img }}" alt="{{ item.name }}"/></a>
                </div>
                <ul>
                    {% for product in item.brandproduct_set.all %}
                        <li>
                            <a href="#">
                                <img src="{{ product.img }}"/>
                                <span class="description">{{ product.longname }}</span>
                                <span>￥{{ product.price }}</span>
                                <s>￥{{ product.markerprice }}</s>
                            </a>
                            <button><span>&#43;</span></button>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endfor %}
    </section>
    <div class="clearfix" style="height: 1.7rem"></div>
    </div>
{% endblock %}


{% block extJs %}
    <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}